<<<<<<< HEAD
.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #dddddd;
    border-radius: 4px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  section.filters button {
    font-size: 18px;
    border: none;
    border-radius: 4px;
    background-color: #ff5a5f;
    color: white;
    height: 48px;
    width: 20%;
    margin-right: 30px;
    opacity: 1;
  }
  
  section.filters button:hover {
    opacity: 90%;
  }
=======
/*
 * === Filters class style ===
 */

/* Filters style */
.filters {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 70px;
    width: 100%;
  }
  
  /* Search button style */
  .filters button {
    background: #ff5a5f;
    border: none;
    border-radius: 4px;
    color: #fff;
    float: right;
    font-size: 18px;
    height: 48px;
    margin: 12px 30px;
    width: 20%;
  }
  
  /* Search button hover opacity */
  .filters button:hover {
    background-color: rgba(255, 90, 95, .9);
  }
>>>>>>> 8f480b2e99acfd77ca2fddf02afa26bc8492215d
